$main-desktop           = 90%
$content-desktop        = calc(100% - 260px)
// 标题，修改成你期望的字体族, sans Georgia
$font-family-headings = Georgia

// 修改成你期望的字体族, Verdana, sans-serif.Microsoft YaHei
$font-family-base = "Verdana"

// 代码字体, "PT Mono", Consolas, Monaco, Menlo, monospace
$code-font-family = "Input Mono"

// 正文字体的大小
$font-size-base = 16px

// 代码字体的大小
$code-font-size = 13px
